<p>
  Añadir comentario:
</p>
<form class="" action="/quizes/<%= quizId %>/comments/" method="post">
  <input type="text" id="comment" name="comment[texto]" value=""><br>
  <button type="submit" name="button">Enviar</button>
</form>
