body{
  background: #333;
  font-size: xx-large;
}
#page-wrap{
  background: #fff;
  color: black;
}
#page-wrap:after{
  content: "Smarthpone Layout";
}

h2 span, section h3{
  display: none;
}

footer, input{
  font-size: large;
}
