<label for="preg">Pregunta:</label>
<input type="text" name="quiz[pregunta]" placeholder="<%= quiz.pregunta %>"><br>
<label for="resp">Pregunta:</label>
<input type="text" name="quiz[respuesta]" placeholder="<%= quiz.respuesta %>"><br>
<a href="/quizes"><button type="button" name="cancel">Cancelar</button></a>
<input type="submit" name="send" value="Guardar">
