<form action="/quizes/<%= quiz.id %>/answer" method="get">
  <p>Pregunta: <%= quiz.pregunta %></p>
  <input type="text" name="respuesta" placeholder="Responda aquí">
  <input type="submit" value="Enviar">
</form>
<br>
<p>
  <a href="/quizes/<%= quiz.id %>/comments/new"><button type="button" name="button">Nuevo comentario</button></a>
</p>
<p>
  <strong>Comentarios:</strong>
</p>
<br>
<% if(quiz.Comments.length){ %>
  <%for(index in quiz.Comments){%>
  <p>- <%=quiz.Comments[index].texto%></p>
  <%}%>
<% }else{ %>
  <p>No hay comentarios en esta pregunta aún.</p>
<% } %>
